<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Football App</title>
  <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" th:href="@{/footballers}">Football App</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/footballers}">Footballers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/managers}">Managers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/teams}">Teams</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Add Team </h1>
      <div class = "card-body">
        <form th:action="@{/teams/created}" th:object = "${team}" method="POST"  enctype="multipart/form-data">
          <div class ="form-group">
            <label> Team  Name </label>
            <input
                    type = "text"
                    name = "name"
                    th:field = "*{name}"
                    class = "form-control"
                    placeholder="Enter Team Name"
            />
          </div>

          <div class ="form-group">
            <label> Team City </label>
            <input
                    type = "text"
                    name = "city"
                    th:field = "*{city}"
                    class = "form-control"
                    placeholder="Enter Team City"
            />
          </div>

          <div class ="form-group">
            <label>Team Country </label>
            <input
                    type = "text"
                    name = "country"
                    th:field = "*{country}"
                    class = "form-control"
                    placeholder="Enter Team Country"
            />
          </div>


          <div class ="form-group">
            <label> Team Image </label>


            <input
                    type = "file"
                    name = "image"
                    accept="image/*"
                    class = "form-control"
                    placeholder="Choose Team Image"
            />
          </div>

          <div class = "box-footer text-center mt-3">
            <button type="submit" class = "btn btn-primary">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>